/* font-family: NMSFuturaProBook */
@import url('https://font.nmscd.com/assets/font/NMSFuturaProBook_Kerned/Web-TT/NMSFuturaProBook_Kerned.css');

/* font-family: NMSGeoSans */
@import url('https://font.nmscd.com/assets/font/NMSGeoSans_Kerned/Web-TT/NMSGeoSans_Kerned.css');


:root {
  font-family: NMSGeoSans, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #9b3838;
  --secondary: #741c1c;

  --graph-bg-1: #303030;
  --graph-bg-2: #404040;

  --font-1: #e0e0e0;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  place-items: center;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#header{
  background: linear-gradient(.25turn, var(--primary) 50%, var(--secondary));
  width: 40em;
  margin-top: 2.5em;
  margin-left: 2.5em;
  padding: .75em 1em .5em;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
}

#app-container{
  display: flex;
  width: 95dvw;
  height: 80dvh;
  flex-direction: row;
  border-radius: 5em;
}

#item-list{
  flex-basis: 1;
  width: 25%;
  height: 100%;
  background-color: var(--graph-bg-2);
  overflow-y: scroll;
  overflow-x: hidden;
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
}

#graph{
  flex-basis: 3;
  width: 75%;
  height: 100%;
  background-color: var(--graph-bg-1);
  border-top-right-radius: .5em;
  border-bottom-right-radius: .5em;
}

.item{
  padding: .5em;
  color: var(--font-1);
  cursor: pointer;
}

.item:hover{
  background: linear-gradient(.25turn, var(--primary) 50%, var(--secondary));
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
