/* font-family: NMSFuturaProBook */
@import url("https://font.nmscd.com/assets/font/NMSFuturaProBook_Kerned/Web-TT/NMSFuturaProBook_Kerned.css");

/* font-family: NMSGeoSans */
@import url("https://font.nmscd.com/assets/font/NMSGeoSans_Kerned/Web-TT/NMSGeoSans_Kerned.css");

:root {
  font-family: NMSGeoSans, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e0e0e0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #9b4438;
  --secondary: #741c2b;

  --graph-bg-1: #e0e0e0;
  --graph-bg-2: #d0d0d0;
  --graph-bg-3: #c0c0c0;
  --graph-bg-4: #b0b0b0;
  --graph-bg-5: #a0a0a0;
  --graph-bg-6: #808080;

  --font-1: #303030;
  --font-2: #404040;
  --font-3: #505050;
  --font-4: #606060;
  --font-5: #707070;

  --s: 40px; /* control the size of the grid */
  --n: 1; /* control the granularity */
  --t: 1px; /* the thickness */
  --g: 33px; /* the gap between dashes */

  --c: #c0c0c0 25%, #0000 0;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  place-items: center;
}

h1 {
  z-index: 20;
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--font-1);
}

#header {
  /* background: linear-gradient(0.25turn, var(--primary) 50%, var(--secondary)); */
  width: 40em;
  margin-top: 2.5em;
  margin-left: 2.5em;
  padding: 0.75em 1em 2em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

#app-container {
  display: flex;
  width: 95dvw;
  height: 80dvh;
  flex-direction: row;
  border-radius: 5em;
}

#item-list {
  flex-basis: 1;
  z-index: 2;
  width: 25%;
  height: 100%;
  background-color: var(--graph-bg-1);
  box-shadow: 0px 0px 50px var(--graph-bg-1);
  overflow-y: scroll;
  overflow-x: hidden;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#item-list::--webkit-scrollbar {
  display: none;
}

#graph {
  flex-basis: 3;
  width: 100%;
  height: 100%;
  background-color: var(--graph-bg-1);
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

#recipe-menu {
  position: absolute;
  display: none;
}

#recipe-menu:first-child {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

#recipe-menu:last-child {
  color: red;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.menu-item {
  width: 10em;
  background-color: var(--graph-bg-2);
  padding: 0.1em 0.5em;
}

.menu-item:hover {
  background-color: var(--graph-bg-4);
}

.item {
  padding: 0.5em;
  color: var(--font-1);
  cursor: pointer;
}

.item:hover {
  /* background: linear-gradient(0.25turn, var(--primary) 50%, var(--secondary)); */
  background-color: white;
  color: var(--font-2);
  box-shadow: 0px 0px 20px 1px var(--graph-bg-2);
}

.grid-lines {
  background: conic-gradient(at var(--g) var(--t), var(--c))
      calc((var(--s) / var(--n) - var(--g) + var(--t)) / 2) 0 /
      calc(var(--s) / var(--n)) var(--s),
    conic-gradient(from 180deg at var(--t) var(--g), var(--c)) 0
      calc((var(--s) / var(--n) - var(--g) + var(--t)) / 2) / var(--s)
      calc(var(--s) / var(--n));
  width: calc(round(down, 100%, var(--s)) + var(--t));
  height: calc(4 * var(--s) + var(--t));
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
